<style>
  .wrap {
    margin: 2rem 4rem;
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 10px;
    font-family: monospace; 
  }
  
  .search-bar {
    display: flex;
    flex: 1;
    position: relative;
    margin: 10px;
  }
  
  .searchTerm {
    flex: 1; 
    border: 3px solid #8576FF;
    border-right: none;
    padding: 0.5rem 1rem;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus {
    color: #8576FF;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #8576FF;
    background: #8576FF;
    color: #1C1678;
    border-radius: 0 5px 5px 0px;
    cursor: pointer;
    font-size: 20px;
  }

  .logo {
    font-size: 40px;
    margin-left: 0.5rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    color: #8576FF;
  }
  
  .spam {
    font-size: 40px;
    margin-left: 0.3rem;
    cursor: pointer;
  }
  
  #logo-title {
    font-size: 20px;
    font-weight: 1.5;
    cursor: pointer;
    color: #F8EDFF; 
    padding-right: 1rem;
  }
  
  .log {
    color: #8576FF;
    border-radius: 4px;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
      <i class="fa-brands fa-nfc-directional logo"></i>
      <p id="logo-title"><span class="spam">W</span>onderTrip</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/listings">Explore</a>
          </div>
          <div class="search-bar">
              <input class="searchTerm" type="text" placeholder="Search...">
              <button class="searchButton">🔍</button>
          </div>
          <div class="navbar-nav ms-auto">
              <a class="nav-link" href="/listings/new">
                  <span id="txt">New</span>
              </a>
              <% if(!currUser) { %>
                  <a class="nav-link log" href="/signup"><b>Signup</b></a>
                  <a class="nav-link log" href="/login"><b>Login</b></a>
              <% } %>
              <% if(currUser) { %>
                  <a class="nav-link log" href="/logout">Logout</a>
              <% } %>
          </div>
      </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const toggler = document.querySelector('.navbar-toggler');
      const navbarCollapse = document.getElementById('navbarNavAltMarkup');

      toggler.addEventListener('click', function () {
          navbarCollapse.classList.toggle('show');
      });
  });
</script>
